!!!
html
  head
    title RPS
    != nap.css('all')
  
  body
    
    header
      .name= user.name
      button.logout X
    
    #left
      ul#feed
      footer
        input
        button.submit Send
    
    #right
      h1 Online
      ul#online_players
      
    footer
    
    #scripts
      != nap.jst('all')
      != nap.js('all')
      if user
        script
          window.USER = !{JSON.stringify(user)};